name: Build Aseprite Final
on: [workflow_dispatch]

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'recursive'

    - name: Download Skia
      shell: bash
      run: |
        curl -L https://github.com/aseprite/skia/releases/download/m102-861e4743af/Skia-Windows-Release-x64.zip -o skia.zip
        7z x skia.zip -oskia

    - uses: aseprite/get-ninja@main
    - uses: ilammy/msvc-dev-cmd@v1

    - name: Run CMake
      shell: bash
      run: |
        # Definimos la ruta de Skia de forma ultra clara
        SKIA_PATH=$(pwd)/skia
        mkdir build
        cd build
        cmake -G Ninja \
          -DCMAKE_BUILD_TYPE=RelWithDebInfo \
          -DLAF_BACKEND=skia \
          -DSKIA_DIR=$SKIA_PATH \
          -DSKIA_LIBRARY_DIR=$SKIA_PATH/out/Release-x64 \
          -DSKIA_LIBRARY=$SKIA_PATH/out/Release-x64/skia.lib \
          ..

    - name: Compiling
      shell: bash
      run: |
        cd build
        ninja aseprite

    - name: Upload Result
      uses: actions/upload-artifact@v4
      with:
        name: aseprite-portable
        path: build/bin/aseprite.exe
